<!-- Add job form -->
<aside
  class="shadow md:w-1/4 bg-white dark:border-white border-gray-400 md:border-r-2 dark:bg-gray-800"
>
  <div class="add-student-form p-3 flex flex-col items-center md:block">
    <p
      class="text-center md:text-left text-xl text-blue-500 dark:text-white mb-3"
    >
      Add job
    </p>
    <% if(locals.user){ %>
    <form
      class="w-64 md:w-full"
      name="addStudent"
      action="/jobs/create"
      method="post"
    >
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="position"
          >Position :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="position"
          type="text"
          name="position"
          placeholder="Position"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="name"
          >Company name :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="name"
          type="text"
          name="company"
          placeholder="Company name"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="jobDesc"
          >Job Description :</label
        >
        <textarea
          id="jobDesc"
          name="jobDesc"
          placeholder="Job description"
          required
          id="message"
          rows="4"
          class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        ></textarea>

        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="jobDesc"
          >Company Description :</label
        >
        <textarea
          id="companyDesc"
          name="companyDesc"
          placeholder="Company description"
          required
          id="message"
          rows="4"
          class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        ></textarea>
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="deadline"
          >Deadline :</label
        >
        <input
          datepicker
          datepicker-autohide
          name="deadline"
          id="deadline"
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Select deadline"
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="dsaScore"
          >Package :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="text"
          name="package"
          id="dsaScore"
          placeholder="Package"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="webScore"
          >Location :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="text"
          name="location"
          id="webScore"
          placeholder="Location"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="reactScore"
          >Skills Required :</label
        >
        <input
          class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          type="text"
          name="skills"
          placeholder="Required skills"
          id="reactScore"
          required
        />
        <small></small>
      </div>
      <div class="form-field mb-6">
        <button
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="submit"
        >
          Add job
        </button>
      </div>
    </form>
    <% } else { %>
        <a href="/users/signin">Sign in</a> to add jobs
        <% } %>
  </div>
</aside>
<!-- End add job form -->

<main class="job-container md:w-3/4 p-4 bg-white dark:bg-gray-800">
  <p
    class="p-3 border-b-2 text-xl text-blue-500 dark:text-white mb-3 bg-white dark:border-white border-gray-400 dark:bg-gray-800"
  >
    Jobs
  </p>
  <div class="jobs">
    <% for(let job of jobs){ %>
    <a
      href=<%= locals.user ? `/jobs/${job.id}` : "/" %> 
      class="bg-white w-full block rounded-lg border shadow-md md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          <%= job.position %> 
        </h5>
        <p class="mb-3 font-normal text-sm text-blue-500 dark:text-blue-300">
          <%= job.company %>
        </p>
        <div class="job-details flex justify-between">
            <span class="text-gray-800 dark:text-white"><span class="mr-3 text-gray-400">Pay</span><%= job.package %></span>
            <span class="text-gray-800 dark:text-white"><span class="mr-3 text-gray-400">Application Deadline</span><%= new Date(job.deadline).toDateString() %></span>
            <span class="text-gray-800 dark:text-white"><span class="mr-3 text-gray-400">Lccation</span><%= job.location %></span>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</main>

<script src="https://unpkg.com/@themesberg/flowbite@1.3.0/dist/datepicker.bundle.js"></script>
